useDynLib(nnmf, .registration = TRUE)
importFrom(Rcpp, evalCpp)

importFrom("Rfast", rowsums, rowMaxs, Log, Median)
importFrom("Rfast2", Runif)
importFrom("stats", median, sd, kmeans)
importFrom("Matrix", nearPD, colSums, sparseMatrix, Diagonal, bdiag)
importFrom("sparcl", KMeansSparseCluster)
importFrom("Rglpk", Rglpk_solve_LP)
importFrom("ClusterR", MiniBatchKmeans, Cluster_Medoids)
importFrom("quadprog", solve.QP)
importFrom("Compositional", makefolds)
importFrom("graphics", axis)
import("parallel")

export("init")
export("nmf.hals")
export("nmf.manh")
export("nmf.qp")
export("nmf.sqp")
export("nmfqp.cv")
export("nmfqp.pred")
export("nmfqp.reg")
#exportPattern("^[[:alpha:]]+")
#exportPattern("^[^\\.]")
